html * {
  box-sizing: border-box;
}
  body {background-color: #0000FF;
    font-family: 'Cuprum', sans-serif;padding: 0px;
}

img {  box-shadow: 4px 4px 4px #424242; /* horizontal, vertial, blur, cor */
  margin: 24px auto;
  max-width: 100%;
  max-width: 100%;
}
h1{
  background-image: url("Design sem nome(8).png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
text-align: right;  font-size: 2em;
  padding: 100px 100px;
  text-shadow: 6px 6px #FF1493;

}
nav{display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
nav > a {
  border-bottom: 4px solid #bbb;
  color: #424242;
  font-size: 20px;
  padding: 3px 5px;
  text-decoration: none;
  text-align: center;
  transition: all 0.3s; /* permite transições mais suaves de estados */
}
nav > a:hover {
  background-color:#41594B;
  border-bottom: 4px solid black;
}
.local{  background-color:blue;
  border-bottom: 4px solid black;}

a {
  background-color: #FFFF00;
  box-shadow: 1px 1px 2px #424242;
  color: #000;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 10px 18px;
  text-decoration: none;
  transition: all 0.4s;
}
a:hover {
  background-color: #000;
  color: #FFFF00;
}
#caixa {
  display: grid;
  grid-template-columns: 2, 1fr;
  grid-gap: 20px;
}

.cartao {
  background-color: #eee;
  border: 2px solid #bbb;
  padding: 18px;
  align-self: flex-start;border: 2px solid #ccc;
  margin-bottom: 20px;
  padding: 22px;
}
.exposicoes {  background-color: #eee;
  border: 2px solid #bbb;
  padding: 18px;
  align-self: flex-start;border: 2px solid #ccc;
  margin-bottom: 20px;
  padding: 22px;}
  ul.none {
	list-style-type: none;
	}


h2 {
  color: #424242;border-bottom: 1px solid #ccc;
  color: #424242;
  margin-bottom: 22px;
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h3 {
  font-size: 1.17em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h4 {
  display: block;
  font-size: 1em;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: normal;
  font-family: 'Oxygen', sans-serif;
  padding: 0px;
}
h5 { 
  display: block;
  font-size: .83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: normal;
}
h6 { 
  display: block;
  font-size: .67em;
  margin-top: 1.0em;
  margin-bottom: 1.0em;
  margin-left: 0;
  margin-right: 0;
  font-weight: normal;  font-family: 'Oxygen', sans-serif;   
}
blockquote {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;font-weight: normal;
}

p {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 24px;font-weight: normal;
}

  p > a {
  color: #FFFF00;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}
p > a:hover {
  opacity: 0.8;
}

p > span {
  background-color: #FFFF00;
  padding: 0 4px;
}

  p{color:#010012}
  h3{color:#010012;font-size: 16;}


a {
  background-color: #AB7109;
  border-radius: 8px;
  color:white;
  display: inline-block;
  font-weight: 700;margin:20px;
  padding: 14px 16px;
  text-decoration: none;
}
#caixa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.cartao {
  background-color: #eee;
  border: 2px solid #bbb;
  padding: 18px;
  align-self: flex-start;
}
address {
  display: block;
  font-style: italic;
}

footer {background-image: url("footer.png");
  background-color: #424242;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 160px;
  margin-top: 24px;
}
small {
  border-radius: 10px;
  display: inline-block;
  background-color: blue;
  color: white;
  font-size: 5px;
  padding: 2px 3px;
  text-align:center;
}


footer > small {
  color: #fff;
  font-size: 7px;
}

footer > small a {
  color: #FFFF00;
  text-decoration: none;
}

footer > small a:hover {
  text-decoration: line-through;
}
